@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  color: var(--el-text-color-primary);
  background-color: var(--el-bg-color);
  border-color: var(--el-border-color);
  --nav-bar-height: 48px;
  --page-vertical-padding: 80px;
  --page-horizontal-padding: 40px;
  --max-z-index: 9;
  --pre-max-z-index: 8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--el-color-info-light-5);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 6px;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

body {
  min-height: 100vh;
  font-family: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  font-weight: 500;
  font-size: var(--el-font-size-base);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: bolder;
  font-size: 48px;
}

h2 {
  font-weight: 600;
  color: var(--el-text-color-regular);
  line-height: 1.75rem;
}

h4 {
  font-weight: 700;
  line-height: 1.8;
}

.brand-image {
  --bi-glow-color: #ffffff;
  --bi-brand-color: var(--el-color-primary-light-3);
  --bi-background-color: #e4efff;
  --bi-components-color: #ffffff;
  --bi-side-components-color: #ffffff;
  --bi-header-text-color: #bdd8ff;
  --bi-menu-text-color: #91beff;
  --bi-text-color: #eff5ff;
  --bi-round-remainder-color: var(--el-color-primary-light-7);
  --bi-graph-divider-color: #ffffff;
  --bi-graph-value-color: #75adff;
  --bi-search-color: var(--el-color-primary-light-7);

  &.dark {
    --bi-glow-color: #3f85ed;
    --bi-brand-color: var(--el-color-primary-light-3);
    --bi-background-color: #0d1014;
    --bi-components-color: #14181e;
    --bi-side-components-color: #1e2835;
    --bi-header-text-color: #5f7ca5;
    --bi-menu-text-color: #5f7ca5;
    --bi-text-color: #313c4b;
    --bi-round-remainder-color: var(--el-color-primary-light-7);
    --bi-graph-divider-color: #1d242c;
    --bi-graph-value-color: #75adff;
    --bi-search-color: #7fabee;
  }

  .shadowbox {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.15));
  }
}
